
body {
  color: #777777;
  background-color: url("../images/old_moon.png");
  font: 200 14px/24px 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 34px;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  height: 60px;
  border-bottom: 10px;
  border-color: #cccccc;

}

#main-container {
  padding-top: 130px;
}

.main-section {
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 650px;
  float: left;
  background: #ffffff;
  border: 1px solid #dddddd;
}
.nameheader {
  position: fixed;
  z-index: 99;
  margin: 0 0 30px;
  width: 100px;
  background-color: #ffffff;
  overflow: auto;
  color: #ffffff;
  border-bottom: 2px solid #ccc;

}

#logo {
  width: 25px;
  height:90px;
  float:left;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  text-align: center;
  line-height: 90px;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  color: #999999;
  text-decoration: none;
  line-height: 18px;
  border-left: 1px solid #efefef;
}

.container {
  clear: both;
  margin: 0 auto;
  width: 100px;
  max-width: 960px;
}


h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
  font-weight: 700;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}


img {
  float: left;
  clear: both;
  padding-right: 15px;
}

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

.social {
  width:62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}


footer {
  padding: 30px 0;
  clear:both;
  color: #ffffff;
  color: #cccccc;
  font-size: 12px;
  background-color: #666666;
  text-align: center;
  border-top: 8px solid #4aaaa5;
}

/*portfolio page*/

.work {
  position:relative;
  width: 274px;
  overflow: auto;
  float: left;
  margin: 20px 0 25px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: .8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  background: #4aaaa5;
  border-bottom: 0;
}

/*auth-image?*/

/*contact page*/
#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}



